{# empty Twig template #}
{% extends "::frontend.html.twig" %}
{%block article %}
<nav id="lista_juegos_global">
    <ul>
        <li>
            ##vista general
        </li>
         <li>
            ##valoracion
        </li>
         <li>
            ##popularidad
        </li>
         <li>
            ##genero
        </li>
    </ul>
</nav>

{% block seccion %}
{% endblock %}

{% endblock %}
