

{% for juego in juegos %}
<section>
    <a href="{{ path('ficha', { 'juego' : juego.slug }) }}">

        <p>
            <strong>
            {{juego.nombre }}            
            </strong>
            
        </p>
    </a>
</section>
{% else %}
<section>
    <p>No hubo juegos</p>
</section>
{% endfor %}

