{# empty Twig template #}
{% extends "::frontend.html.twig" %}
{% block article %}
<h1>
    MIS CRITICAS
</h1>
{% endblock %}

{% include 'UsuarioBundle:Default/includes/consultas-recientes.html.twig' %}

